*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

 .wapper1,
.wapper2,.wapper2 .box{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(93, 62, 21);
    flex-direction: column;
}
.wapper1{
    background-color: burlywood;
}
 .wapper2 .box{
    background-color: burlywood;
    color: rgb(0, 0, 0);
    position: relative;
    width: 80%;
    margin: 50px auto;
    border-radius: 2px;
    box-shadow: 4px 4px 4px rgb(108, 98, 66);
}

.wapper2 {
    display: flex;
    height: 100vh;
}
.wapper2 .box h2{
    position: absolute;
    top: 10px;
    left: 47%;
}
.wapper2 .timer{
    padding: 10px 15px;
    background-color: rgb(111, 90, 19);
    box-shadow: 0px 0px 2px 2px  rgb(108, 98, 66);
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 30px;
}
.wapper2 .score{
    position: absolute;
    top: 10px;
    left: 30px;
}
.wapper2 input{
    color: white;
    background-color: black;
}
.option{
    font-size: 18px;
    width: 80%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
span{
    
    margin-right: 20px;
}
input{
    margin-left: 20px;
    margin-top: 3px;
    height: 15px;
    width: 15px;
}
.wapper3 {
    height: 100vh;
    display: none;
    background: #BBD2C5;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #ECE9E6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


